on:
    workflow_call:
        secrets:
            TF_API_TOKEN:
                required: false
            AWS_OICD_ROLE_ARN:
                required: true

jobs:
    Deploy-infrastructure:
        name: Deploy infrastructure using Terraform
        runs-on: ubuntu-latest
        defaults:
            run:
                shell: bash
        steps:
        #Checkout the repository to the Github Actions runner
            - name: Checkout repository
              uses: actions/checkout@v4
        
        # Configure AWS credentials using OIDC
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: ${{ secrets.AWS_OICD_ROLE_ARN }}
                role-session-name: GitHubActionsDeployInfra
                aws-region: ap-south-1
            
        #Install Terraform CLI
            - name: Install Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                 cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
        
        #Initialize Terraform
            - name: Initialize Terraform
              run: terraform init

        #Plan Terraform changes
            - name: Plan Terraform changes
              run: terraform plan -out=tfplan

        #Apply Terraform configuration
            - name: Apply Terraform configuration
              run: terraform apply -auto-approve tfplan
            